absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altgraph==0.17.4
annotated-types==0.7.0
antropy==0.1.9
anyio==4.7.0
apsw==3.48.0.0
apswutils==0.0.2
astunparse==1.6.3
attrs==24.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.8
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
distro==1.9.0
docx==0.2.4
fastcore==1.7.29
fastlite==0.1.1
Flask==3.1.0
flatbuffers==25.1.21
fonttools==4.53.1
frozenlist==1.5.0
gast==0.6.0
google-pasta==0.2.0
graphviz==0.20.3
greenlet==3.2.1
grpcio==1.69.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
julia==0.6.2
keras==3.8.0
kiwisolver==1.4.7
libclang==18.1.1
llvmlite==0.44.0
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
MouseInfo==0.1.3
multidict==6.1.0
namex==0.0.8
networkx==3.3
numba==0.61.2
numpy==2.0.2
oauthlib==3.2.2
openai==0.28.0
opt_einsum==3.4.0
optree==0.14.0
packaging==24.1
pandas==2.2.3
pefile==2023.2.7
pillow==10.4.0
playwright==1.52.0
propcache==0.2.1
protobuf==5.29.3
PyAutoGUI==0.9.54
pydantic==2.10.4
pydantic_core==2.27.2
pyee==13.0.0
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
PyMsgBox==1.0.9
pynput==1.7.7
pyparsing==3.1.4
PyPDF2==3.0.1
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-fasthtml==0.12.1
python-multipart==0.0.20
pytweening==1.2.0
pytz==2024.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scikit-learn==1.6.0
scipy==1.14.1
setuptools==75.8.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
starlette==0.45.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
testflows==2.4.19
testflows.asserts==7.1.240701.1195420
testflows.connect==1.7.240918.1165507
testflows.core==2.0.250110.1002922
testflows.database==1.6.200713.1142213
testflows.snapshots==1.0.241118.1155431
testflows.stash==1.1.230317.1211113
testflows.uexpect==1.7.230414.1210501
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
uvicorn==0.34.0
watchfiles==1.0.4
websockets==14.2
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
yarl==1.18.3
